.footer{
    .content{
        display: flex;
        justify-content: space-between;
        padding: 100px 120px 20px 120px;
        .footer-left{
            img{width: 30%;}
            
        }
    }
}
@media (max-width: 500px) {
    .footer{
        .content{
            display: flex;
            flex-direction: column;
            padding: 30px;
            .footer-left{
                padding: 0 10x;
                img{width: 100%;}
            }
            .col-6{
                width: 100%;
            }
        }
    }
}
@media (max-width: 128px) {
    .footer{
        .content{
            padding: 0;
        }
    }
}