.lzy1Td {
    display: inline-block;
    max-height: 56px;
    max-width: 225px;
    padding: 8px 4px 8px 12px;
    vertical-align: middle;
}
.navbar{
    position: absolute;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.header{
    z-index: 9999;
    width: 100%;
    .h-content{
        display: flex;
        padding-left: 36px;
        padding-right: 8px;
        top: 0;
        transition: opacity 0.5s,
        padding-left .125s;
        white-space: nowrap;
        width: 100%;
        z-index: 20;
        min-width: 100%;
        table-layout: fixed;
        justify-content: space-between;
        .h-left{
        font-family: Lato, sans-serif;
        font-size: 15pt;
        font-weight: 300;
        line-height: 1.333; 
        float: left;
        }
        .h-right{
            text-align: right;
            .dropdown {
                position: relative;
                display: inline-block;
                height: 100%;
                .m-menu{
                    margin-top: 17px;
                }
                .m-menu a span:hover {
                    text-decoration: none;
                    color: rgba(73,170,212,1);
                }
                .active{
                    text-decoration: none;
                }
                .dropbtn {
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    margin-right: 100px;    
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #212121;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    .dropdown-format{
                        padding:15px;
                    }
                }
                .dropdown-content a{
                    color: white;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    float: left;
                }
                
            }
            .dropdown-content a:hover {background-color: none; color: rgba(73,170,212,1);}
        
            .dropdown:hover .dropdown-content {display: block;}
            
        }
        .h-search{
            color: white;
            .m-search{
                margin-top: 15px;
                margin-left: 30px;
                font-size: 18px;
            }
        }

    }  
}

.ftco-navbar{
    background-color: none;
}

.page-title {
    position: relative;
    top: -50px;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
    transform: translate3d(0px, 50px, 0px);
    .title{
        vertical-align: baseline;
        text-align: center;
        color: white;
        position: relative;
        top: 125px;
        span{
            font-size: 50pt;
            font-weight: 300;
            letter-spacing: 2px;
            line-height: 1;
            color: rgba(255,255,255,1);
        }
    }
}
@media (min-width: 500px){
    .navbar-toggler{
        display: none;
    }
    .navbar-nav{
        display: none;
    }
}
@media (max-width: 500px) {
    .header{
        width: 100%;
        .h-content{
            padding: 0;
            margin: 0;
            .col-6{
                width: unset;
            }
            .col-5{
                width: unset;
            }
            .h-left{
                float: right;
            }
        }
        .m-menu{
            display: none;
        }
        .navbar-toggler{
            display: block;
            margin-top: 10px;
        }
        .navbar-collapse {
            flex-basis: 100%;
            flex-grow: 1;
            align-items: center;
            width: 100%;
        }
    }
    .navbar-nav{
        padding: 0 15px;
        .nav-item{
            .nav-link{
                color: rgb(108, 223, 108) !important;
            }
        }
    }
    .page-title{
        .title{
            span{
                font-size: unset;
            }
        }
    }
}
@media (max-width: 328px){
    .page-title{
        position: relative;
        top: -50px;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center;
        transform: translate3d(0px, 50px, 0px);
        .title{
            vertical-align: baseline;
            text-align: center;
            color: white;
            position: relative;
            top: 125px;
            span{
                font-size: unset;
                font-weight: 300;
                letter-spacing: 2px;
                line-height: 1;
                color: rgba(255,255,255,1);
            }
        }
    }
}
@media (max-width:128px){
    .h-left{
        display: none;
    }
    .navbar-toggler{
        padding: 0;
        margin-top: 0px !important;
    }
}