@import "./header.scss";
@import "./home.scss";
@import "./footer.scss";
@import "./traningPlan.scss";
@import "./FAQ.scss";
@import "./seminar.scss";
@import "./newQuestion.scss";
@import "./managerQuestion.scss";